<div class="row">
  <div class="col-md-8">
    <h1>Products#edit</h1>

    <%= form_with(model: @product, local: true) do |form| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this Product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group row">
        <%= form.label :sku_code, class: 'col-2 col-form-label' %>
        <div class="col-8">
          <%= form.text_field :sku_code, class: 'form-control', readonly: true %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :name, class: 'col-2 col-form-label' %>
        <div class="col-8">
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :price, class: 'col-2 col-form-label' %>
        <div class="col-8">
          <%= form.text_field :price, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%=label_tag 'item_count', nil, class: 'col-2 col-form-label' %>
        <div class="col-8">
          <%= text_field_tag 'item_count', @product.product_warehouses.first.item_count, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%=label_tag 'low_item_threshold', nil, class: 'col-2 col-form-label' %>
        <div class="col-8">
          <%= text_field_tag 'low_item_threshold', @product.product_warehouses.first.low_item_threshold, class: 'form-control' %>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <%= form.submit "Update", class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
